.profileButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f5f5f5;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 100%;
    min-width: 150px;
    max-width: 250px;
    overflow: hidden;
    flex-shrink: 1;
}

.profileButton:hover {
    background-color: #e1e1e1;
}

.activeChat {
    background-color: #4F008F;
    color: white;
    border: 2px solid #4F008F;
    font-weight: bold;
    height: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.activeChat:hover {
    background-color: #3B006E;
}


.activeChat .chatName {
    color: white;
}

.activeChat .closeButton {
    color: white;
}

.lastChatImage {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.chatName {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-left: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.closeButton:hover {
    color: #ff4d4d;
}

.closeButton:focus {
    outline: none;
}

@media (max-width: 768px) {
    .chatHeader {
        gap: 5px;
    }

    .profileButton {
        min-width: 100px;
    }

    .rightSection {
        gap: 10px;
    }
}
