.friendCard {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  list-style: none; 
}

.friendCard:hover {
  background-color: #ece9f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.friendCardImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.friendCardContent {
  flex: 1;
  text-align:left;
}

.friendName {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.lastMessage {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}
