.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto auto auto auto;
}

.line {
    border: none;
    border-top: 1px solid grey;
    width: 60%;
    margin: 20px 0;
  }
