.ProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.ProfileHeading {
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 10px;
    position: relative;
}

.ProfileHeading::after {
    content: "";
    display: block;
    width: 80%; 
    height: 2px;
    background-color: #ccc;
    margin: 10px auto 0 auto;
}

.ProfileFormBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.LeftSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
}

.RightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
}

@media (max-width: 1600px) {

    .buttonSubmit{
        width:400px;
    }
    .ProfileForm {
        max-width: 800px;
    }
    .ProfileFormBody {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
}

.inputField[type="text"],
.inputField[type="file"],
.inputField,
textarea.inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f4f2f7;
    color: #333;
    font-size: 1rem;
}

textarea.inputField {
    height: 100px;
}

.inputField::placeholder {
    color: #999;
}

.inputField:focus {
    background-color: #ffffff;
    border-color: #3700b3;
    outline: none;
}

.buttonSubmit {
    width: 100%;
    padding: 10px;
    background-color: #4f008f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
}

.buttonSubmit:hover {
    background-color: #622396;
}

.label {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
}

.line {
    border: none;
    border-top: 1px solid grey;
    width: 100%;
    margin: 20px 0;
}
