.notificationsContainer {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color);
}

.tabButton {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: var(--text-primary);
}

.tabButton:hover {
    background-color: var(--primary-color);
    color: var(--surface-color);
}

.tabButton.active {
    background-color: var(--primary-color);
    color: var(--surface-color);
    font-weight: bold;
}

.tabContent {
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
}

.tabContent::-webkit-scrollbar {
    width: 10px;
}

.tabContent::-webkit-scrollbar-track {
    background: var(--background-color);
    border-radius: 10px;
}

.tabContent::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.tabContent::-webkit-scrollbar-thumb:hover {
    background: var(--primary-hover);
}

.notificationItem {
    padding: 0.5rem 0;
    font-size: 0.9rem;
    color: var(--text-primary);
    border-bottom: 1px solid var(--border-color);
}

.notificationItem:last-child {
    border-bottom: none;
}
