:root {
  /* Light Theme (default) */
  --primary-color: #4f008f;
  --primary-hover: #622396;
  --secondary-color: #6a5acd;
  --secondary-hover: #4a4cad;
  --background-color: #f4f2f7;
  --surface-color: #fffdfd;
  --text-primary: #333333;
  --text-secondary: #666666;
  --border-color: #cccccc;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --dots-color: #ffffff;
  --logo-chat-color: #111;
}

[data-theme="dark"] {
  --primary-color: #6a5acd;
  --primary-hover: #4a4cad;
  --secondary-color: #6a5acd;
  --secondary-hover: #622396;
  --background-color: #1a1a1a;
  --surface-color: #2d2d2d;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --border-color: #404040;
  --error-color: #ff6b6b;
  --success-color: #4cd964;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --dots-color: #000000;
  --logo-chat-color: #fff;
} 