.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width:100%;
    background-color: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
  }

.signUpForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signUpForm form label {
  text-align: center;
  margin-bottom: 5px;
}
  
.signUpForm a {
  margin-bottom: 15px;
  text-align: center;
}

.line {
  border: none;
  border-top: 1px solid grey;
  width: 60%;
  margin: 20px 0;
}

.signUpInput[type="text"],
.signUpInput[type="password"],
.signUpInput[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signUpInput {
  background-color: #f4f2f7;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}

.signUpInput::placeholder {
  color: #333;
}

.signUpInput:focus {
  background-color: #ffffff;
  border-color: #3700b3;
}

.buttonSignupForm {
  width: 70%;
  padding: 10px;
  background-color: #4f008f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonSignupForm:hover {
background-color: #622396;
}

.signUpInput[type="date"] {
  margin-bottom: 15px;
}

.signUpInput[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
  opacity: 1; 
}

  