.forgotPasswordPage{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

.line {
    border: none;
    border-top: 1px solid grey;
    width: 60%;
    margin: 20px 0;
}

.banner {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  max-width: 500px;
  margin: 10vh auto auto auto;

}

.buttonForgotPassword {
  width: 60%;
  padding: 10px;
  background-color: #4f008f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonForgotPassword:hover {
  background-color: #622396;
}

.passwordInput[type="text"],
.passwordInput[type="password"],
.passwordInput[type="email"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.passwordInput {
  background-color: #f4f2f7;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  outline: none;
}

.passwordInput::placeholder {
  color: #333;
}

@media (max-width: 1200px) {
  .banner {
    justify-content: center;
  }
}

  