.searchBar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
    color: var(--text-primary);
}

.searchInputWrapper {
    position: relative;
    width: 100%;
}

.searchInput {
    width: 85%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 2%;
    font-size: 1rem;
    background-color: var(--surface-color);
    color: var(--text-primary);
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.3s ease;
}

.searchIcon:hover {
    color: var(--secondary-hover);
} 