.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    width: 100%;
}

.searchInputWrapper {
    position: relative;
    width: 100%;
}

.searchInput {
    width: 100%;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5%;
    font-size: 1rem;
}

.searchIcon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #666;
    cursor: pointer;
    transition: color 0.3s ease;
}

.searchIcon:hover {
    color: #6a5acd;
}
