.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    min-height: 0;
    border: 1px solid #ddd;
    overflow: hidden;
}

/* container for messages and settings*/
.chatMain {
    display: flex;
    flex: 1;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.showSettings .chatMessages {
    width: calc(100% - 300px);
}

/* chat settings */
.chatSettingsContainer {
    width: 0px;
    height: 100%;
    background-color: #f8f8f8;
    border-left: 1px solid #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

/* chat messages */

.chatMessages {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.noMessages {
    color: #666;
    text-align: center;
    margin-top: 2rem;
}


.chatMessages::-webkit-scrollbar {
    width: 10px;
}

.chatMessages::-webkit-scrollbar-track {
    background: #f4f4f8;
    border-radius: 10px;
}

.chatMessages::-webkit-scrollbar-thumb {
    background: #4F008F;
    border-radius: 10px;
}

.chatMessages::-webkit-scrollbar-thumb:hover {
    background: #4a4cad;
}

.chatMessages {
    scrollbar-width: thin;
    scrollbar-color: #6a5acd #f4f4f8;
}

/* chat input */

.chatInputForm {
    padding: 1rem;
}

.inputWrapper {
    position: relative;
    width: 96%;
    display: flex;
    align-items: center;
    background-color: #f4f4f8;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


.chatInput {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 25px;
    color:black;
}

.chatInput::placeholder {
    color: #aaa;
}

.checkbox {
    width: 22px;
    height: 22px;
    accent-color: #6a5acd;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.checkbox:active {
    transform: scale(1.1);
}

.chatArrowButton {
    position: absolute;
    right: 1px; 
    background: none;
    border: none;
    color: #4F008F;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: none;
}

.chatArrowButton:hover {
    color: #4a4cad;
    background-color: #f4f4f8;
}

